.box {
	background-color: #dedede;
	height: 400px;
	margin-bottom: 20px;
}

.box .inner {
	padding: 20px;
}

.box a.button {
	padding: 6px 25px;
	color: #ffffff;
	background-color: #0288D1;
}

label.box {
	height: auto;
	background-color: #dedede;
}

label.box input[type="radio"] {
	display: none;
}

label.box input[type="radio"] + .inner {
	color: #000000;
	padding: 20px;
	cursor: pointer;
}

label.box input[type="radio"]:checked + .inner {
	color: #ffffff;
	background-color: #1976D2;
	/*box-shadow: 0 0 10px 2px #1976D2;*/
}

.btn-group label.btn {
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
}

.btn-group label:first-child {
	border-radius: 6px 0 0 6px;
}

.btn-group label:last-child {
	border-radius: 0 6px 6px 0;
}


.btn-group label.btn input[type="radio"],
.btn-group label.btn input[type="checkbox"] {
	display: none;
}

.btn-group input[type="radio"] + .inner,
.btn-group input[type="checkbox"] + .inner {
	padding: 10px 15px;
}

.btn-group input[type="radio"]:checked + .inner,
.btn-group input[type="checkbox"]:checked + .inner {
	color: #ffffff;
	background-color: #1976D2;
}