.box {
	height: 400px;
	margin-bottom: 20px;
	background-color: #dedede;
}

.box .inner {
	padding: 20px;
}

.box a.button {
	padding: 6px 25px;
	color: #ffffff;
	background-color: #0288D1;
}

label.box {
	height: auto;
	background-color: #dedede;
	position: relative;
}

label.box input[type="radio"],
label.box input[type="checkbox"] {
	display: none;
}

label.box input[type="radio"] + .inner,
label.box input[type="checkbox"] + .inner {
	color: #000000;
	padding: 15px;
	border: 5px solid #dedede;
	cursor: pointer;
}

label.box input[type="radio"]:checked + .inner,
label.box input[type="checkbox"]:checked + .inner {
	color: #ffffff;
	background-color: #43A047;
	border: 5px solid #2E7D32;
}

label.box input[type="radio"]:checked + .inner::before,
label.box input[type="checkbox"]:checked + .inner::before {
	content: "";
	position: absolute;
	top: 5px;
  right: 2px;
  width: 20px;
  height: 20px;
  background-image: url(/images/common/tick.png);
  background-size: 20px;
	background-repeat: no-repeat;
	z-index: 9;
}

label.box input[type="radio"]:checked + .inner::after,
label.box input[type="checkbox"]:checked + .inner::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 45px 45px 0;
	border-color: transparent #2E7D32 transparent transparent;
}

.btn-group label.btn {
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
}

.btn-group label:first-child {
	border-radius: 6px 0 0 6px;
}

.btn-group label:last-child {
	border-radius: 0 6px 6px 0;
}


.btn-group label.btn input[type="radio"],
.btn-group label.btn input[type="checkbox"] {
	display: none;
}

.btn-group input[type="radio"] + .inner,
.btn-group input[type="checkbox"] + .inner {
	padding: 10px 15px;
}

.btn-group input[type="radio"]:checked + .inner,
.btn-group input[type="checkbox"]:checked + .inner {
	color: #ffffff;
	background-color: #1976D2;
}