.box {
	position: relative;
	height: 400px;
	margin-bottom: 20px;
	background-color: #ececec;
}

.box .inner {
	padding: 20px;
}

.box a.button {
	padding: 6px 25px;
	color: #fff;
	background-color: #0288D1;
}

label.box {
	height: auto;
	/*background-color: #ececec;*/
}

label.box input[type="radio"],
label.box input[type="checkbox"] {
	display: none;
}

label.box input[type="radio"] + .inner,
label.box input[type="checkbox"] + .inner {
	color: #000;
	padding: 15px 35px 15px;
	border: 5px solid #ececec;
	cursor: pointer;
}

label.box input[type="radio"]:checked + .inner,
label.box input[type="checkbox"]:checked + .inner {
	background-color: #A5D6A7;
	border: 5px solid #A5D6A7;
}

label.box input[type="radio"] + .inner::before {
	content: "";
	position: absolute;
	top: 22px;
	left: 10px;
  width: 20px;
  height: 20px;
  background-color: #ececec;
  border-radius: 20px;
  box-shadow: 0 0 1px 2px rgba(28,156,1,.85)
}

label.box input[type="radio"] + .inner:hover::after {
	content: "";
	position: absolute;
	top: 26px;
	left: 14px;
	width: 12px;
	height: 12px;
	background-color: rgb(28,156,1);
	border-radius: 12px;
}

label.box input[type="radio"]:checked + .inner::before {
	content: "";
	position: absolute;
	top: 22px;
	left: 10px;
  width: 20px;
  height: 20px;
  background-color: #ececec;
  border-radius: 20px;
  box-shadow: 0 0 1px 2px rgba(28,156,1,.85);
}

label.box input[type="radio"]:checked + .inner::after {
	content: "";
	position: absolute;
	top: 26px;
	left: 14px;
	width: 12px;
	height: 12px;
	background-color: rgb(28,156,1);
	border-radius: 12px;
}

label.box input[type="checkbox"] + .inner::before {
	content: "";
	position: absolute;
	top: 22px;
	left: 10px;
  width: 20px;
  height: 20px;
  background-color: #ececec;
  box-shadow: 0 0 1px 2px rgba(28,156,1,.85)
}

label.box input[type="checkbox"] + .inner:hover::after {
	content: "";
	position: absolute;
	top: 26px;
	left: 14px;
	width: 12px;
	height: 12px;
	background-color: rgb(28,156,1);
}

label.box input[type="checkbox"]:checked + .inner::before {
	content: "";
	position: absolute;
	top: 22px;
	left: 10px;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 1px 2px rgba(28,156,1,.85)
}

label.box input[type="checkbox"]:checked + .inner::after {
	content: "";
	position: absolute;
	top: 22px;
	left: 10px;
	width: 20px;
	height: 20px;
	background-color: #ececec;
	background-image: url(/images/common/tick-green.png);
	background-size: 20px;
	background-repeat: no-repeat;
}

.btn-group label.btn {
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
}

.btn-group label:first-child {
	border-radius: 6px 0 0 6px;
}

.btn-group label:last-child {
	border-radius: 0 6px 6px 0;
}


.btn-group label.btn input[type="radio"],
.btn-group label.btn input[type="checkbox"] {
	display: none;
}

.btn-group input[type="radio"] + .inner,
.btn-group input[type="checkbox"] + .inner {
	padding: 10px 15px;
}

.btn-group input[type="radio"]:checked + .inner,
.btn-group input[type="checkbox"]:checked + .inner {
	color: #ffffff;
	background-color: #1976D2;
}