.card-container {
	padding: 20px 0;
}

.card {
	margin-bottom: 20px;
	position: relative;
}

.card .overlay-top-info {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	width: 100%;
	background-color: rgba(236,236,236,.7);
}

.card .image {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.card .image .product-image {
	/*max-width: 100%;
	height: 250px;*/
	width: 100%;
	height: 250px;
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
}

.card .product-title {
	text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  cursor: pointer;
  font-style: normal;
  height: 36px;
  overflow: hidden;
}

.card .price {
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	color: #333;
	font-weight: bold;
	clear: left;
	font-style: normal;
}

.card .button {
	margin: 15px 0 0;
	/*background-color: #EF6C00;*/
}