.card-container {
	padding: 20px 0;
}

.card {
	margin-bottom: 20px;
}

.card .image {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.card .image img {
	max-width: 100%;
	height: 250px;
}

.card .product-title {
	text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  cursor: pointer;
  font-style: normal;
  height: 36px;
  overflow: hidden;
}

.card .price {
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	color: #333;
	font-weight: bold;
	clear: left;
	font-style: normal;
}

.card .button {
	margin: 15px 0 0;
	background-color: #EF6C00;
}