.card-container {
	padding: 20px 0;
}

.card {
/*	border-bottom: 4px solid #222222;
	padding-bottom: 15px;*/
	margin-bottom: 20px;
}

.card .image {
	width: 100%;
	text-align: center;
	/*background-color: #ececec;*/
	margin-bottom: 10px;
}

.card .image img {
	max-width: 100%;
	/*height: auto;*/
	height: 250px;
}

.card .product-title {
	text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #333;
/*  padding-right: 5px;
  padding-top: 1px;*/
  cursor: pointer;
  font-style: normal;
  height: 36px;
}

.card .price {
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	color: #333;
	font-weight: bold;
	clear: left;
	font-style: normal;
}

.card .button {
	margin: 15px 0 0;
	background-color: #EF6C00;
}