.card-container {
	padding: 20px 0;
}

.card {

}

.card .image{
	width: 100%;
	height: 250px;
	background-color: #ececec;
}

.card .product-title {
	text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  padding-right: 5px;
  padding-top: 1px;
  cursor: pointer;
  font-style: normal;
}

.card .price {
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	color: #333;
	font-weight: bold;
	clear: left;
	font-style: normal;
}