.detail .line {
	background-color: #bababa;
}

.detail-title {
	border-bottom: 1px solid #bababa;
	margin-bottom: 20px;
}

.detail-title .title {
	margin-top: 10px;
	margin-bottom: 0;
}

.detail-title .sub-title {
	margin-top: 20px;
	margin-bottom: 0;
}

.title-box-group {
	margin-bottom: 10px;
}

.detail-title .title-box {
  color: #222222;
  font-size: 12px;
  padding: 6px 10px;
  margin: 10px 4px 0 0;
  background-color: #dedede;
  line-height: 17px;
  display: inline-block;
}

.image-gallery .image-gallery-preview {
	padding: 20px 0;
}

.image-gallery .item-info {
	padding: 10px;
	background-color: rgba(255,255,255,.6);
}

.image-gallery .item-info .item-info-row:not(:first-child) {
	margin-top: 10px;
}

.image-gallery .item-info p {
	margin: 0;
  font-size: 16px;
}

.image-gallery .item-info h4 {
	margin: 0;
	font-size: 24px;
}

.image-gallery .image-gallery-preview .item-info {
	padding: 10px;
}

.image-gallery .image-gallery-preview .preview-image {
	width: 60px;
	height: 60px;
	margin: 4px;
	border: 2px solid #464646;
	background-color: #464646;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
}

.image-gallery .image-gallary-display {
	width: 100%;
	height: 360px;
	text-align: center;
	background-color: #ffffff;
	margin: 20px;
	position: relative;
}

.image-gallery .image-gallary-display .image-gallary-display-inner {
	height: 100%;
	overflow: hidden;
}

.image-gallery .image-gallary-display img {
	height: 100%;
	position: relative;
	display: inline-block;
}

.item-info .title-with-icon {
	position: relative;
	padding-left: 40px;
}

.item-info h4.title-with-icon {
	font-size: 18px;
	line-height: 30px;
}

.item-info .title-with-icon::before {
	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
}

.item-info .title-with-icon.phone::before {
	background-image: url(/images/common/phone.png);
}

.item-info .title-with-icon.email::before {
	background-image: url(/images/common/email.png);
}

.item-info .title-with-icon.location-pin::before {
	background-image: url(/images/common/location-pin.png);
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.image-gallery .image-gallary-display {
		margin: 0;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.image-gallery .image-gallery-preview .preview-image {
		margin: 3px;
	}

	.image-gallery .image-gallary-display {
		width: 96%;
		overflow: hidden;
	}

	.image-gallery .item-info {
		padding: 10px 0;
	}
}

/* Custom */ 
@media only screen and (max-width : 360px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}