.detail .line {
	background-color: #bababa;
}

.detail-title {
	border-bottom: 1px solid #bababa;
	margin-bottom: 20px;
	/*padding-bottom: 20px;*/
}

.image-gallery {

}

.image-gallery .image-gallery-preview {
	padding: 20px 0;
}

.image-gallery .image-gallery-preview .preview-image {
	width: 60px;
	height: 60px;
	margin: 4px;
	border: 2px solid #9E9E9E;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
}

.image-gallery .image-gallary-display {
	width: 100%;
	height: 360px;
	text-align: center;
	background-color: #ffffff;
	/*overflow: hidden;*/
	margin: 20px;
}

.image-gallery .image-gallary-display .image-gallary-display-inner {
	height: 100%;
}

.image-gallery .image-gallary-display img {
	height: 100%;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.image-gallery .image-gallary-display {
		margin: 0;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.image-gallery .image-gallery-preview .preview-image {
		margin: 3px;
	}

	.image-gallery .image-gallary-display {
		width: 96%;
		overflow: hidden;
	}
}

/* Custom */ 
@media only screen and (max-width : 360px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}