.profile-image {
	width: 100px;
	height: 100px;
	text-align: center;
	background-color: #999;
	border-radius: 100px;
	overflow: hidden;
}

.profile-image > img {
	height: 100%;
}

.profile-info {
	margin-left: 20px;
}

.profile-info h3 {
	margin-top: 10px;
}