body {
	background-color: #ffffff;
}

.primary-bar {
	width: 100%;
	height: 80px;
	background-color: #3F51B5;
	margin: 0;
}

.primary-bar h3 {
	color: #ffffff;
	margin: 0;
	line-height: 80px;
}

.primary-text {
	font-size: 62px;
	color: #ffffff;
}

.secondary-text {
	font-size: 22px;
	color: #ffffff;
}

.secondary-text.indent {
	text-indent: 50px;
}

a {
	text-decoration: none !important;
}

.line {
	width: 100%;
	height: 1px;
	background-color: #1565C0;
}

.space-top-bottom-10 {
	margin: 10px 0;
}

.space-top-bottom-20 {
	margin: 20px 0;
}

.space-top-bottom-30 {
	margin: 30px 0;
}

.space-bottom-10 {
	margin-bottom: 10px;
}

.space-bottom-20 {
	margin-bottom: 20px;
}

.space-bottom-30 {
	margin-bottom: 30px;
}

.container-header {
	margin: 20px 0 0;
}

.container-header .title {
	font-size: 25px;
	line-height: 50px;
}

.container-header a.button {
	background-color: #448AFF;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}